body {
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
}

header {
	background: url(../img/base.png) no-repeat center top / cover;
	height: 1000px;
}

div {
	box-sizing: border-box;
}

.space{
   text-align: center; 
}

.logo{
    margin-top: 130px;
    width: 150px;
    height: 60px;
}

ul.menu {
    padding: 0;
    text-align: center;
}

.menu li {
	display: inline-block;
    padding: 50px 0px 0px 0px;
    width: 130px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.menu a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 66pt;
    font-family: Arial, sans-serif;
}

.container {
	width: 100%;
}

.cont {
    text-align: center;
}
.cont hr {
    size: 1em;
    width: 200px;
    display: inline-block;
}

section {
    padding-top: 70px;
    width: 100%;
    padding-bottom: 30px;
}

section:nth-child(2n+1) {
    background-color: #eaeaf0;
}

section:nth-child(2n) {
    background-color: whitesmoke;
}

section:nth-last-child(-2n+2) {
    background-color: mediumaquamarine;
}

section:nth-child(2n) {
    background-color: whitesmoke;
}

.text1 {
    display: inline-block;
    padding: 0 40px;
    color: white;
    text-transform: uppercase;
    font-size: 15pt;
    font-family: Arial, sans-serif;
    text-align: center;
}

.butt {
    text-align: center;
}

.butt input {
    margin-top: 170px;
    display: inline-block;
    width: 350px;
    height: 60px;
    border: none;
    color: white;
    font-size: 15pt;
    font-family: Arial, sans-serif;
    background-color: mediumaquamarine;
    border-radius: 30px;
}

a {
    color: mediumaquamarine;
}

a:hover {
    color: burlywood;
    transition-duration: 0.4s;
}

a input {
    opacity: 1;
}

a input:hover {
    opacity: 2;
    transition-duration: 0.5s;
    background-color: darkcyan;
}

.wrapper {
    width: 930px;
    margin: auto;
}

.button {
    text-align: center;
}

.button input {
    margin-top: 10px;
    display: inline-block;
    width: 130px;
    height: 40px;
    border: none;
    color: white;
    font-size: 11pt;
    font-family: Arial, sans-serif;
    background-color: mediumaquamarine;
    border-radius: 30px;
}

.icon_row {
    display: inline-block;
    text-align: center;
}

.icon_row div {
    display: inline-block;
    margin: 0px 62px 0px 62px;
}

.icon_row div.button {
    text-align: left;
    display: block;
}

div p {
    text-align: center;
    color: darkgray;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

div h5 {
    font-family: Arial, sans-serif;
    font-size: 13pt;
    color: #484545;
    text-align: center;
    text-transform: uppercase;
}

div h4 {
    font-family: Arial, sans-serif;
    font-size: 15pt;
    color: #696969;
    text-align: center;
    text-transform: uppercase;
}

div h3 {
    font-family: Arial, sans-serif;
    font-size: 13pt;
    color: #484545;
    text-align: left;
    text-transform: uppercase;
    
}

div h2 {
    font-family: Arial, sans-serif;
    font-size: 11pt;
    color: #484545;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.icon_row1 {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.icon_row1>div {
    display: inline-block;
    margin: 0px 4.5%;
    width: 40%;
}

.icon_row1>div img {
    width: 100%;
}

.icon_row1 div.button {
    text-align: left;
    display: block;
}

.post {
    float: left;
}

.post div img {
    float: left;
    margin: 0 10px 12px 0;
}

.post div h3 {
    float: left;
    margin: 0 20px 0 0;
}

.posted {
    text-align: justify;
    color: darkgray;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

.button_next {
    text-align: left;
}

.button_next input {
    margin-top: 10px;
    display: inline-block;
    width: 130px;
    height: 40px;
    border: none;
    color: white;
    font-size: 11pt;
    font-family: Arial, sans-serif;
    background-color: mediumaquamarine;
    border-radius: 30px;
}

.icon_row2 {
    display: inline-block;
    margin: 0 62px;
}

.icon_row2>div {
    display: inline-block;
    width: 100%;
}

.icon_row2 div.button {
    text-align: left;
    display: block;
}

.button_next a input {
    opacity: 2;
    background-color: darkgray;
}

.button_next a input:hover {
    opacity: 1;
    transition-duration: 0.5s;
    background-color: gray;
}

.icon_row3 {
    display: inline-block;
    margin: 0 62px;
}

.icon_row3>div{
    display: inline-block;
    margin: 0px 34px;
    width: 220px;
}

.icon_row3>div:first-child {
    margin-left: 0;
}

.icon_row3>div:last-child {
    margin-right: 0;
}

.icon_row3 div img {
    width: 100%;
}

.icon_row3 div.button {
    text-align: left;
    display: block;
}

.check_out {
    text-align: left;
}

.check_out input {
    margin-top: 10px;
    display: inline-block;
    width: 130px;
    height: 40px;
    border: none;
    color: mediumaquamarine;
    font-size: 11pt;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    border-radius: 30px;
}

.check_out a input {
    background-color: whitesmoke;
}

.check_out a input:hover {
    transition-duration: 0.5s;
    background-color: whitesmoke;
    text-decoration: underline;
}

/*.proff:first-child {
    margin: 0 62px 0 0px;
}

.proff:last-child {
    margin: 0 0px 0 62px;
}*/

.icon_row4 {
    display: inline-block;
    margin: 0 62px;
}

.icon_row4>div{
    display: inline-block;
    margin: 0px 50px;
    width: 300px;
}

/*.icon_row4>div img {
    width: 100%;
}*/

.icon_row4 div.button {
    text-align: left;
    display: block;
}

.post1 div img {
    float: left;
    margin: 0 10px 0 0;
}

.post1 div h3 {
    margin: 0 93px 0 0;
}

.icon_row4 p {
    text-align: left;
    color: darkgray;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

.icon_row5 {
    display: inline-block;
}

.people {
    float: left;
    width: 37%;
    margin-right: 3%;
}

.themeforest p {
    text-align: left;
    color: darkgray;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

.themeforest {
    float: left;
    width: 45%;
    margin-left: 10%;
}

.people img {
    float: left;
}
.icon_row6 {
    display: inline-block;
    width:  calc(100% - 124px);
    margin: 0px 62px;
}

.icon_row6>div {
    display: block;
}

.icon_row6>div img {
    width: 100%;
}

.icon_row6 div.button {
    text-align: left;
    display: block;
}

.post2 div img {
    float: left;
    margin: 0 14px 10px 230px;
}

.post2 div h3 {
    color: white;
    margin: 0 20px 0 0;
}

.star {
    margin-bottom: 45px;
}

.logos {
    float: left;
}

.logos img {
    margin: 0 47px;
}

.icon_row7 {
    display: inline-block;
    width: 930px;
}

.icon_row7 div {
    display: inline-block;
    padding: 0 58px;
}

.post3 {
    float: left;
}

.post3 div img {
    float: left;
}

.post3 p {
    text-align: left;
    color: #ada9a9;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

.marg {
    margin-bottom: 35px;
}